
body {
    height: 100vh; 
    margin: 100px;
    position: absolute;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing:border-box;
    border-radius: 20px; 
    
    
}
   .cabecalho {
    
   align-items: center;
   display: flex;
   background-color: #fff6ea;
   }
   
 .logo {
    
    justify-content: left;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 50vh;
 }


.menu {
    display: flex;
    justify-content: right;
    align-items: right;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 18px;
}   

.menu-link {
    padding: 0 1em;
    text-decoration: none;
    text-transform: uppercase;
    color: #e78a10;
}
.conteudo__abertura {
    background-image:  url("img/phone\ dub\ crop.jpg")  ;
    background-size:cover;
    background-position: center; 
    background-repeat:no-repeat ; 
    padding-top: 9em;
}
.container__one {
    
    color: rgb(113, 85, 52); 
     
}

.chamada-texto {
      justify-content:  center; 
      width: 40%;
      padding-left: 8em;
      padding-bottom: 10em;
}
.chamada-title{
    padding-top: 1em;
    text-align: center;
    font-size: 24px; 
    line-height: 2; 
}
.chamada-p {
    padding-top: 2em;
    font-size: 20px;
    line-height: 2; 
    text-align: justify;

}

.conteudo__inline{
    display: flex; 
    margin-bottom: 1em;
    text-align: justify;
    justify-content: center;
     
}
.conteudo__sobre {
     
    margin-bottom: 1em;
    text-align: justify;
    justify-content: center;
    padding-left: 20%;   
    padding-right: 20%; 
}
.container__legendagem {
    
    padding-right: 3em;
    padding-top: 1em;
    line-height: 1.8;
    width: 50%;
}
.container__dublagem {
    
    padding-left: 3em;
    padding-top: 1em;
    line-height: 1.8;
    width: 50%;   
}
.title-contato {
    text-align: center;
    margin-bottom: 1em;
    color:#e78a10;
    font-size: 24px; 
    text-transform: uppercase;    
}
.container__contato {
    
    padding-right: 3em;
    padding-top: 1em;
    line-height: 1.8;
    width: 50%;
    text-align: center;
    font-size: 20px;
}

.container__edicao {
    
    padding-right: 3em;
    padding-top: 1em;
    line-height: 1.8;
    width: 50%;
}
.container__missao{
    
    padding-right: 3em;
    padding-top: 1em;
    line-height: 1.8;
    
}
.container__valores{
    
    padding-right: 3em;
    padding-top: 1em;
    line-height: 1.8;
    
}
.title-sobre {
    text-align: center;
    margin-bottom: 1em;
    color:#e78a10;
    font-size: 18px; 
    text-transform: uppercase;    
}
.li-ident {
    text-indent: 10px;
    text-decoration: none;
}
.container__projetos {
    padding-left: 3em;
    padding-top: 1em;
    line-height: 1.8;
    width: 50%;
}
.container-transcricao {
    padding-right: 3em;
    padding-top: 1em;
    line-height: 1.8;
    width: 50%;
}
.container-institucional {
    padding-left: 3em;
    padding-top: 1em;
    line-height: 1.8;
    width: 50%;
    

}


.title2 {
    text-align: center;
    margin-bottom: 1em;
    color:#e78a10;
    font-size: 18px; 
    text-transform: uppercase;    
}

.title-service {
    
    color:#a7865c;
    font-size: 24px; 
    text-transform: uppercase;
    margin-left: 0.5em;
    padding-top: 1em;
      
      
}
.servicos {
    display: flex;
    justify-content:left;
    margin-bottom: 1em;
    border-bottom:dashed #e78a10;
    padding-left: 1.5em;
    padding-bottom: 1em;
      
}

.rodape {
   text-align: center;
    justify-content: center;
    padding-top: 2em;
    padding-bottom:4em;
    background-color: #fff6ea;
    width: auto;
    color: #e78a10;
    line-height: 2;
    
}


@media screen and (max-width: 1366px){
    .cabecalho {
    
        align-items: center;
        display: flex;
        }
    .logo {
    
        justify-content: left;
        padding-bottom: 2em;
        padding-left: 1em;
        padding-right: 10vh;
        background-size: contain;
       
    
     }
    .menu {
        display: flex;
        justify-content: right;
        align-items: right;
        padding-bottom: 1em;
        font-size: 16px;
        
     
    }
    
    .conteudo__abertura {
        background-image:  url("img/phone\ dub\ crop.jpg")  ;
        background-size:cover;
        background-position: center; 
        background-repeat:no-repeat ; 
        padding-top: 9em;
    }
    .container__one {
        
        color: rgb(113, 85, 52); 
         
    }
    
    .chamada-texto {
          justify-content:  center; 
          width: 40%;
          padding-left: 8em;
          padding-bottom: 10em;
    }
    .chamada-title{
        padding-top: 1em;
        text-align: center;
        font-size: 24px; 
        line-height: 2; 
    }
    .chamada-p {
        padding-top: 2em;
        font-size: 20px;
        line-height: 2; 
        text-align: justify;
    
    }
    .conteudo__sobre{
     
        margin-bottom: 1em;
        text-align: justify;
        justify-content: center;
        padding-left: 10%;   
        padding-right: 10%;
}
}

@media screen and (max-width: 932px){
    
    body {
        height: 100vh; 
        margin: 10px;
        position: absolute;
    }
    .conteudo__inline {
        display: block;
        justify-content: center;
        text-align: justify;
       

    }
    .cabecalho {
    
        align-items: center;
        display: flex;
        }
    .logo {
    
        justify-content: left;
        padding-bottom: 0.5em;
     
        padding-right: 1em;
        
       
    
     }
    .menu {
        display: flex;
        justify-content: right;
        align-items: right;
        padding-bottom: 1em;
        font-size: 16px;
     
    }
    
    .conteudo__abertura {
        background-image:  linear-gradient(rgba(225, 223, 223, 0.5), rgba(178, 135, 44, 0.5));
        padding-top: 0.1em ;
       
    }
    .container__one {
        
        color: rgb(113, 85, 52); 
         
    }
    
    .chamada-texto {
          justify-content:  center; 
          width: 70%;
          padding: 3em;
          
    }
    .chamada-title{
        padding-top: 1em;
        text-align: center;
        font-size: 18px; 
        line-height: 2; 
    }
    .chamada-p {
        padding-top: 2em;
        font-size: 16px;
        line-height: 2; 
        text-align: justify;
    
    }   
        
    
    .title2 {
        font-size: 16px;
    }
 
        
        
    
    .menu {
        display: flex;
        justify-content: center;
        font-size: 12px;
        padding-bottom: 1em;
        padding-top: 1em;
        
       
       
    }
    .title-service {
    
        color:#a7865c;
        font-size: 16px; 
        text-transform: uppercase;
        margin-left: 0.5em;
        padding-top: 1em;
          
          
    }
    .servicos {
        display: flex;
        justify-content:left;
        margin-bottom: 1em;
        border-bottom:dashed #e78a10;
        padding-left: 1.5em;
        padding-bottom: 1em;
          
    }
    .container__legendagem {
    
        padding: 1em;
        line-height: 1.8;
        width:90%;
        
        
    
    }
    .container__dublagem {
        
        padding: 1em;
        line-height: 1.8;
        width:90%;;
        
        
    }
    .container__edicao {
        
        padding: 1em;
        line-height: 1.8;
        width:90%;
        
    }
   
    .container__projetos {
        padding: 1em;
        line-height: 1.8;
        width:90%;
        
    }
    .container-transcricao {
        padding: 1em;
        line-height: 1.8;
        width:90%;
        
    }
    .container-institucional {
        padding: 1em;
        line-height: 1.8;
        width:90%;
        
    
    }
    .title-contato {
        text-align: center;
        margin-bottom: 1em;
        color:#e78a10;
        font-size: 16px; 
        text-transform: uppercase;    
    }
    .container__contato {
        
        padding-right: 3em;
        padding-top: 1em;
        line-height: 1.8;
        width: 100%;
        text-align: center;
        font-size: 16px;
    }
    .conteudo__sobre{
     
        margin-bottom: 1em;
        text-align: justify;
        justify-content: center;
        padding-left: 5%;   
        padding-right: 0%;
}
}

